body {
    background: #111;
    color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    width: 360px;
    margin: auto;
    margin-top: 60px;
    padding: 20px;
    background: #1a1a1a;
    border-radius: 12px;
    box-shadow: 0 0 15px #000;
}

.btn {
    padding: 14px;
    display: block;
    margin: 10px auto;
    width: 80%;
    background: #ff0055;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    font-size: 16px;
}

#tickBox {
    font-size: 38px;
    margin: 10px;
    color: yellow;
}

#status {
    margin-top: 10px;
    font-size: 14px;
    color: #ccc;
}
